.pago-container {
    margin: 0 0.7rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}



.detalle-carta {
    border: 0.1rem #d8d8d8 solid;
}

.costo-container > .subtitle{
    margin: 0 0.5rem;
}

.costo-container > .title{
    margin: 0 0.5rem;
}

.forma-de-pago-container{
    overflow: auto;
    flex: 1;    
    display: flex;
    flex-direction: column;
}

.pago-container > h1.subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    flex: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pago-container > mat-tab-group {
    flex: 1;
}

.pago-container > .title {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    align-items: flex-end;
    margin: 2rem 0 0 0;
    flex: 0;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0;
    margin-bottom: 1rem;
}

.previous-button,
.continue-button {
    display: flex;
    align-items: center;
}

.prev-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}

.continue-button_label {
    margin: 0 0.5rem;
    font-weight: 500;
    color: #333;
}

.next-button {
    font-size: 24px;
    padding: 0 !important;
}

:host .subtitle {
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 2rem;
}

mat-hint.subtitle {
    margin: 0 !important;
}

.descripcion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.fecha_entrega-container {
    width: 40%;
}

.costo-container {
    width: 50%;
    text-align: end;
}

.fecha_entrega-container p.subtitle,
.fecha_entrega {
    font-weight: 500;
    margin: 0 !important;
}