<div class="pedidos-selector-container">
    <div class="logo-container">
        <img src="../assets/logo.png" alt="logo"/>
    </div>
    <div class="pedidos-type-container">
        <h1 class="pedidos_type-title title">¡Comencemos!</h1>
        <p class="pedidos_type-subtitle subtitle">Selecciona el tipo de pedido</p>
        <mat-divider></mat-divider>
        <div class="row">
            <button mat-raised-button class="primary-button">Comercio adherido</button>
        </div>
        <div class="row">
            <button mat-stroked-button class="secondary-button" (click)="selectLugarNoAdherido()">Lugar no listado</button>
        </div>
        <mat-divider></mat-divider>
        <p class="subtitle pedidos_type-subtitle">¿Necesitas ayuda?</p>
    </div>
</div>  